#currCity a:hover {
	color:#777;
}
.breadcrumb {
	position:relative;
	left:-4px;
	background-color: transparent;
	margin-bottom: 0px;
	margin-top:10px;
}
.main-category li a,
.sub-category li a {
	padding:2px;
	margin-top:5px;
	margin-bottom: 5px;
	margin-left:10px;
	margin-right:10px;
}
.item-navi {
	margin-top:20px;
}
.search-item {
	margin-top:20px;
	margin-bottom:10px;
	padding-bottom: 40px;
	border-bottom: 1px solid #eaeaea;
}
.teacher-name a:hover {
	text-decoration: none;

}
.teacher-avatar {
	float:left;
	margin-right:20px;
	margin-top:22px;
	height:200px;
}
.teacher-avatar-lg {
	float:left;
	margin-top:20px;
	margin-right: 25px;
}
/*.teacher-address {
	display: block;
	margin-top:-8px;
	margin-bottom: 20px;
}*/
.teacher-name {
	display: inline-block;
}
.teacher-rank {
	display:inline-block;
	position:relative;
	bottom: 5px;
	padding-top:0.4em;
	padding-bottom:0.4em;
	padding-left:0.6em;
	padding-right:0.6em;
	margin-bottom: 10px;
}

.teacher-location {
	display: block;
	margin-top:-8px;
	margin-bottom: 5px;
}
.summary {
	margin-top:20px;
	margin-bottom:20px;
	font-size:18px;
}
.teacher-course-description {
	display: block;
	line-height: 2em;
}

.teacher-course-type {
	line-height: 1.5em;
}
.teacher-comment {
	line-height: 2em;
}



.teacher-rate {
	display: inline-block;
}
.star {
	color: orange;
}
.teacher-labels li{
	display: inline-block;
	border-radius: 2px;
	border-color:  #eaeaea;
	border-width: 1px;
	border-style: solid;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	margin-left:2px;
	margin-right:2px;
}
