/*stylesheet for project1.html*/
a{
	text-decoration: none;
}
a:hover{
	color:orange;
}
.btn{
	border-color:transparent;
	background-color: #eaeaea;
	cursor:pointer;	
}
.search{
	position:relative;
	top:20px;
	left:300px;
}
#searchbox{
	width:700px;
	display: inline-block;
	background-color:transparent;
	border:orange 2px solid;
}
.logo{
	float:left;
}
.price{
	margin-left:15px;
}
#alsns{
	padding-right: 70px;
	position:relative;
	left:-40px;
}
.select{
	clear:both;
	border: 1px solid #eaeaea;
}
.navi
{
	clear:both;
	padding:10px;
}
.search-item{
	border-bottom: 1px solid #eaeaea;
	margin-bottom:30px;
	padding-bottom:15px;
	width:1000px;
}
.navi ul li{
	float:left;
	list-style: none;
}
.navi ul li a{
	margin-left:5px;
	margin-right:5px;
}
.wrapper{
	margin:0 auto;
	width: 1300px;
}
.reigon{
	clear:both;
}
.subjects{
	clear:both;
}
.other{
	clear:both;
}
.region li{
	display: inline-block;
	list-style: none;
}
.other li{
	display: inline-block;
	list-style: none;
}
.subjects li{
	display: inline-block;
	list-style: none;
}
.region ul:before{
	content:"Region";
}
.other ul:before{
	content:"Other Filter";
}
.subjects ul:before{
	content:"Subjects";
}
.location{
	clear:both
}
.avatar{
	clear:both;
	margin-left:15px;
	margin-right:10px;
	margin-top:20px;
}
.info-container{
	display: inline-block;
}
.labels h1{
	display: inline-block;
	margin-left:10px;
	margin-right:10px;
	border:1px #eaeaea solid;
	font-family:Microsoft Yahei;
	font-size:16pt;
}
.subjects li{
	margin-left:15px;
	margin-right:15px;
	margin-top:5px;
	margin-bottom:5px;
}
.other li{
	margin-left:15px;
	margin-right:15px;
	margin-top:5px;
	margin-bottom:5px;
}
.region li{
	margin-left:15px;
	margin-right:15px;
	margin-top:5px;
	margin-bottom:5px;
}